.main-window-class {
    border: 2px solid black;
    background-color: #f1f1f1;
    border-radius: 15px;
    margin: 10px 0;
    width:500px;
    right:10px;
    position: fixed;
    bottom:15px;
}

.chat-header-class {
    background: lightskyblue;
    color: blue;
    padding: 5px;
    height: 30px;
    position: relative;
    overflow: hidden;
    border: 0px solid darkblue;
border-radius: 15px 15px 0 0;
    /*text-align: center;*/
}

.content-area-class {
    /*margin: 0 0 0 0;*/
    /*padding: 0 0 10px 10px;*/
    height:610px;
    overflow-x:hidden;
    position: relative;
}

.history-area-all-class{
    border-bottom: 2px solid black;
    border-top:2px solid black;
    background: aqua;
    margin: 0;
    max-width: 500px;
    height: 500px;
    overflow-x:hidden;
    position: relative;
}

#history-area {
    display: inline-block;
    background: white;
    color: black;
    padding-left: 5%;
    padding-right: 3%;
    border-radius: 10px;
    height: 480px;
    width: 90%;
    overflow-y: auto;
    overflow-x: auto;
   margin-bottom: 0;
    /*list-style-type: none;*/

}

.history-area-all-class li {
    /*border: grey 2px solid;*/
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 5px;
}

.my-message-class{
    background: khaki;
    color: darkblue;
    text-align: left;

}

.bot-message-class{
    background: lightcyan;
    color: purple;
    text-align: right;

}

.current-message-block-class{
    background: lightskyblue;
    /*border-top: black solid 2px;*/
    /*display: table;*/
    vertical-align: middle;
    height: 100px;
    /*padding: 5px;*/
    width: 100%;
    position: relative;
    bottom: 0px;
    border-radius: 0 0 15px 15px;
}

.input-area-class {
    /*display: table-cell;*/
    vertical-align: middle;
    height: 100px;
    /*padding: 5px;*/
    width: 80%;
    position: relative;
    bottom: 0px;
    left: 0px;
    border-radius: 0 0 0 15px;
    resize: none;
    border-right: 2px solid black;
    float: left;
}

.send-button-class{
    /*display: table-cell;*/
    vertical-align: middle;
    height: 100px;
    padding: 5px;
    width: 19%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    border-radius: 0 0 15px 0;
    border-left: 2px solid black;
    margin-left: 10px;


}


 #minBtn  {
     height: 30px;
     width: 30px;
     position: relative;
     float: right;

}



.hidden {
    display: none;
}